@import "./actiontext.css";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


.jumbotron {
    padding: 4rem 2rem;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

.badge-success {
    background-color: rgb(59, 161, 59);
}

.badge-danger {
    background-color: rgb(245, 60, 60);
}

.badge-info {
    background-color: rgb(4, 219, 219);
}

.form-actions {
    margin-top: 10px;
}

.form-control.is-invalid{ background-image: none; }
.form-control.is-valid{ background-image: none; }

.text-right {
    float: right;
}

.bg-dark {
    color: #e9ecef;
}

.card {
    margin-bottom: 15px;
}

.radio_buttons{
    .pt-0{
        display: contents;
    }
}

.active {
    color: white;
    font-weight: bold;
}

.float-right {
    float: right;
}

.button_to {
    display: inline-block;
}

a {
    text-decoration: none;
}

.float-left {
    display: inline;
}

.ui-state-highlight { height: 3em; line-height: 1.2em; background-color: rgb(226, 224, 222); }