%hr 
%footer 
  .container 
    .row 
      .col-md-4 
        Copyright 
        Ⓒ
        = Time.now.year 
        CoursePlatform Sp. z 
        .row 
        .fa.fa-envelope 
        = mail_to 'shadman061@gmail.com'
        .row 
      .col-md-4 
        Privacy policy 
        .row 
        Terms and conditions 
      .col-md-4 
        About us 
        .row 
        = link_to 'Teach on EDURGE', new_course_path